# This is a good default: files that are auto-detected by git to be text are
# converted to the platform-native line ending (LF on Unix, CRLF on Windows)
# in the working tree and to LF in the repository.
#
* text=auto

# Use `eol=crlf` for files that should have the CRLF line ending both in the
# working tree (even on Unix) and in the repository.
#
#*.bat text eol=crlf

# Use `eol=lf` for files that should have the LF line ending both in the
# working tree (even on Windows) and in the repository.
#
#*.sh text eol=lf

# Use `binary` to make sure certain files are never auto-detected as text.
#
#*.png binary

nasm/nasm/asm      symlink=dir
nasm/nasm/autoconf symlink=dir
nasm/nasm/common   symlink=dir
nasm/nasm/config   symlink=dir
nasm/nasm/disasm   symlink=dir
nasm/nasm/include  symlink=dir
nasm/nasm/macros   symlink=dir
nasm/nasm/nasmlib  symlink=dir
nasm/nasm/output   symlink=dir
nasm/nasm/stdlib   symlink=dir
nasm/nasm/win      symlink=dir
nasm/nasm/x86      symlink=dir
